.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  font-size:18px;
  margin-bottom:20px;
}

#courses{
  list-style: none;
  display: inline-block;
  width: 500px;
  text-align: left;
}

#courses p{
  display: block;
  padding: 20px 20px;
  background-color: #95EFFF;
  color: #000;
  position: relative;
  cursor: pointer;

  transition: 0.3s;
}

#courses p b{
  position: absolute;
  right: 30px;
  width: 100px;
  color: #000;
  text-align: right;
}

#courses p:hover{
  background-color:#52B3D9;
  color:#fff;
}

#courses p.active{
  color:#fff;
  background-color:#061C41;
}

#courses p.active b{
  color: #fff;
}


#total{
  background: #3FC380 !important;
  cursor: default !important;
  padding-top: 10px !important;
}
table{
  margin:auto;
}
td{
  width: 200px;
  height: 200px;
}
.middle{
  border-right: 3px solid;
  border-left: 3px solid;
}
.second{
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.tic{
  text-align: center;
  font-size: 36px;
  color:blue;
  background-color: yellow;
  padding: 20px;
  margin-top: 140px;
}
.gallery{
  margin-top: 40px;
  margin-bottom: 20px;
  color:white;
  
}
.one{
  background-color: blue;
  width: 400px;
  float: left;
}
.two{  
  background-color: #5F0026;
  width: 400px;
  float: left;
}
img{
  width:30% ;
  margin: 1.66%
}
.header{
  color:#454545;
  width: 30%;
  text-align: left;
  font-size: 50px;
  padding:30px 0 10px 0;
  border-bottom: 2px solid #AEAEAE;
  margin-left: 32px;
  font-weight: 800;
}